* {
  box-sizing: border-box;
}

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #2C3531;

}
body{
  background-image: url('./back.jpg');
  background-size: 100% 100%;
}
.about::-webkit-scrollbar {
  width: 11px;
}
.about {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.about::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.about::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
.data::-webkit-scrollbar {
  width: 11px;
}
.data {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.data::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.data::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
.header {
  display: flex;
  flex-flow: row wrap;
  min-height: 56px;
  align-items: center;
  justify-content: space-between;
  background-color: #116466;
}

.left,
.middle,
.right {
  flex-grow: 2;
}

.middle {
  text-align: center;
}

.item {
  font-size: 20px;
  padding: 16px;
  display: inline-block;
  color: #D1E8E2;
  text-decoration: none;
}
.item:hover{
  color:#2C3531;
  text-decoration: none;
}

.box {
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
  padding: 10px;
}
.wrapper {
  margin: 0 auto;
  background-color: #bdcaa8;
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display";
}

#logo {
  width: 100px;
  height: 100px;
}
.about{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

#first,#second,#third{
  width: 300px;
  height: 350px;
  border: 1px solid;
  border-radius: 3px;
  border-style: ridge;

}
.content2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 450px;
  border: 1px solid;
  padding: 5px;
  background-color:#2C3531;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 450px;
  border: 1px solid;
  padding: 10px;
  background-color:#2C3531;
}
.data{
  background-color: #FFCB9A;
  overflow: scroll;
  font-family: "Playfair Display";
}

.about,.docs{
  background-color: #FFCB9A;
  width: 100%;
  height: 400px;
  border: 1px solid;
  padding: 1%;
  margin-top: 10px;
 
  border-radius: 4px;
  border-style: groove;

}

.team{
  text-align: center;
  background-color: #FFCB9A;
  width: 100%;
  height: 450px;
  border: 1px solid;
  border-style: groove;
}
.team p { margin:0 }
.data,
#mapid {
  width: 400px;
  height: 400px;
  border: 1px solid;
  border-radius: 4px;
  border-style: groove;
  flex: 2;
  padding: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Search Bar */
label {
  font-weight: 600;
}
.custom-control {
  font-weight: normal;
}
.dropdown-toggle {
  padding-left: 10px;
  border-radius: 0px !important;
}
.dropdown.dropdown-lg .dropdown-menu {
  padding: 15px;
}
.input-group .form-control {
  width: 100%;
  border-radius: 0.25rem !important;
}
.dropdown.dropdown-lg .dropdown-menu {
  max-width: 200px;
  max-height: 165px;
}
.dropdown-menu {
  box-shadow: 1px 4px 8px -1px #c1c1c1;
}
.btn-group button {
  color:#D1E8E2 ;
  background-color:#2C3531;
}



table.gridtable {
  font-family: "Playfair Display";
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #D1E8E2;
}

/* Mobile */
@media screen and (max-width: 960px) {
  .header {
    flex-flow: column nowrap;
  }

  .team{
    flex-shrink: 8;
  }
  .content {
   flex-direction: column-reverse;
  }
  .about{
    flex-direction: column;
    overflow: scroll;
  }

}
